{% extends "main.html" %}

<!-- Content -->
{% block content %}
<style>
    .mdx-hero {
        bottom: 6rem;
        display: block;
        position: absolute;
        transition: transform .4s cubic-bezier(.1,.7,.1,1),opacity .25s;
        width: 100%;
    }

    .mdx-hero__content {
        width: 100%;
      }

    .md-button {
        min-width: 212px !important; /* Минимальная ширина */
        max-width: 212px !important; /* Ограничение по ширине */
        display: inline-block;
        text-align: center;
    }

    .md-content {
      margin-left: 0 !important;
    }

    .md-typeset h1 {
        color: var(--md-default-fg-color--light);
        font-size: 5em !important;;
        line-height: 1.3;
        margin: 0 0 1.25em;
        font-weight: 600;
    }

</style>
<main class="md-main">
    <div class="md-content">
      <article class="md-typeset">
        <section class="mdx-container">
            <div class="md-grid md-typeset">
              <div class="mdx-hero">
                <div class="mdx-hero__content">
                  <h1>404</h1>
                  <h2>Бассейн закрыт. В нем червие.</h2>
                  <a href="{{ 'https://www.djifpv.ru/knowledge_base/' | url }}" title="База знаний" class="md-button md-button--primary">
                    База знаний
                  </a>
                  <a href="{{ 'https://www.djifpv.ru/knowledge_base/fcc/' | url }}" title="FCC hack" class="md-button">
                    FCC hack
                  </a>
                </div>
              </div>
            </div>
          </section>
      </article>
    </div>
  </main>
{% endblock %}